/* CSS Document */

body {
	font-family: 'Segoe UI',"hiragino sans gb","Microsoft YaHei",sans-serif;
	overflow-y:scroll;
}

input, button, select, textarea {
	font-family: 'Segoe UI',"hiragino sans gb","Microsoft YaHei",sans-serif;
}

.container {
	width:960px;
	position:relative;
}

a {
  color: #1ABC9C;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #16A085;
  text-decoration: none;
}

.navbar {
	60px;
}

.navbar-static-top .container,
.navbar-fixed-top .container, 
.navbar-fixed-bottom .container {
	width: 960px;
}

.form-horizontal .control-label {
	width:120px;
}

.form-horizontal .controls {
	margin-left:140px;
}

.pagination {
	float:right;
}
.pagination ul{
	box-shadow:none;
}

.pagination ul > li > a {
	border:none;
}

hr {
	border-top:##e5e5e5 1px solid;
}

.modal {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;

}

.modal-footer {
	border-top:none;
}

.btn {
	font-size:14px;
}

.btn-large {
	font-size: 16.5px;
}

.eshopping_title {
	padding: 0;
	margin-bottom: 10px;
	font-size: 21px;
	line-height: 40px;
	color: #333333;
}


/* header CSS */

/*   css document   */


a {
  color: #1ABC9C;
  text-decoration: none;
}



/* header css  */
.header{
	height: 217px;
}
.header .container #header1{
	position: relative;
	height: 35px;
}
.header .container #header1 p{

	float: left;
	margin-top: 5px;
}
.header .container #header1 a{

	float: left;
	margin-top: 5px;
	margin-left: 5px;
}
.header .container #header1 #cart{
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}
.header .container #header2 #search{
	position: relative;
	float: right;
	margin-top: 15px;
}
#header3{
	position: relative;
	height: 30px;
	background-color:#eee;
	border-radius:10px;
}
#header3 li p{
	position: relative;
	width:80px;
	height:25px;
	background: #F1C40F;
	padding-top: 5px;
}
.nav  li {
	width:100px;
	text-align:center;
	position:relative;
	color: #1ABC9C;

}
#header4{
	position: relative;
	height: 400px;
	width: 960px;
}

#header4 #header4_logo{
	position: relative;
	height: 400px;
	width: 300px;
	float: left;
}
#header4 #tuijian{
	position: relative;
	height: 400px;
	width: 450px;
	float: left;
	overflow: hidden;
	background-color:#eee;
	border-radius:10px;
	margin-left: 5px;
}
#header4 #tuijian #but strong{
	margin-left: 5px;
	font-size: 16px;
	padding-right: 5px;

}
#header4 #xiaoshou #but strong{
	margin-left: 5px;
	font-size: 16px;
	padding-right: 5px;

}
#header4 #tuijian #but .btn{
	margin-top : 10px;
}
#header4 #xiaoshou #but .btn{
	width : 40px;
	height: 20px;
	font-size: 5px;
}
#header4 #xiaoshou{
	position: relative;
	height: 400px;
	width: 200px;
	float: left;
	margin-left: 5px;
	overflow: hidden;
	background-color:#eee;
	border-radius:10px;
}
#header4 #xiaoshou #but ul li {
	width: 60px;
}

#content_xinshu, #content_zhubian, #content_zongbang, #content_wenyi, #content_jingying {
	display: none;
}

/* #content_zongbang .span3 h5 ,#content_wenyi .span3 h5, #content_jingying .span3 h5{
	float: left;
} */
#content_zongbang .span3 a ,#content_wenyi .span3 a, #content_jingying .span3 a{
	float: left;
}
#content_xinshu .span1 a ,#content_zhubian .span1 a{
	float: left;
}
#content_xinshu .span1 p ,#zhubian .span1 p{
	float: left;
	margin-left: 0px;
}
#tuijian_content{
	position: relative;
	width: 300px;
	height: 130px;
	float: left;
}
#bookname_item{
	position: relative;
	width:300px;
	height: 20px;
}
#bookname_items{
	position: relative;
	width:220px;
	height: 90px;
	float: left;
}
#bookname_items_1{
	position: relative;
	width:150px;
	height:90px;
	float:left;
}
#bookname_item_2{
	position: relative;
	width:160px;
	height:40px;
	float:left;	
}
.span20 a{
	float:left;
}




/*photo of login*/
#photo_left{
	position: absolute;
	width: 500px;
	height: 300px;
}


/*control the style of each elements*/
.span3 {
	width: 200px;
	margin-left: 0px;
}
.span1 {
	width: 450px;
	margin-left: 0px;
}
.span20 {
	width:225px;
	height:100px;
	margin-left:0px;
}
.carousel-indicators {
	top: 95%;
	right: 40%;
}


/* submenu*/
.nav li > ul {
	z-index:1000;
}
.nav .catalog {
	position:absolute;
	list-style:none;
	left:-25px;
	width:180px;
	display:none;
}

.nav .catalog li {
	text-align:left;
	background:#BDC3C7;
}
.nav .catalog li:hover {
	background:#F1C40F;
}

.nav .catalog li a {
	padding:10px;
	display:block;
}

#home_header{
	height: 172px;
}

.nav-tabs > li > a{
	border-radius: 0px;
}
/*body*/

.body1 {
	margin-top:120px;
}



/* breadcumb */
.bread {
	position:absolute;
	top:-45px;
}


/* footer */
.footer {
	margin-top:20px;
}

.footer img,
.footer p{
	float:right;
	color:#aaa;
}

.footer img {
	position:relative;
	height:23px;
	right:6px;
}

/*alert tips*/
#alert_tips {
	padding:20px;
	width:200px;
	height:40px;
	position:fixed;
	left:50%;
	margin-left:-120px;
	top:50%;
	margin-top:-40px;
	
	/*style*/
	z-index: 1050;
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
	
	display:none;
}

#alert_tips i {
	margin-right:10px;
}

/*tips*/
#personal_info_form span,
#new_address_form span,
#modify_address_form span,#edit_password_form span,#modify_address_form span {
	margin-left:10px;
}