@CHARSET "UTF-8";
html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
 	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
/* 	font-family: 'Segoe UI',"hiragino sans gb","Microsoft YaHei",sans-serif; */
	font-size: 16px;
	height: 100%;
	background-color: #eee;
}
a {
  text-decoration: none;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
}




.admin_head {
	background: url("/BookShopping/img/top_bg.jpg") repeat;
	height: 45px;
	width: 100%;
	position: fixed;
	font-size: 18px;
	color: #fff;
	margin: 0;
	padding: 0;
	z-index: 100;
}
.admin_head p {
	padding-top: 9px;
	padding-left: 10px;
	margin-bottom: 0;
    margin-top: 0;
}
.admin_container {
	height: 100%;
	width: 100%;
	padding-top: 45px;
	min-width: 600px;	
	border-style:solid;
	border-width:0;
	border-color:#357ebd;
}
.admin_left {
	background: url("/BookShopping/img/left_bg.jpg") repeat;
	height: 100%;
	width: 175px;
	float: left;
	position: fixed;
}
.welcome {
	margin: 15px 20px 0 20px;
	color: #b7b7b8;
}
.welcome span {
	margin: 5px;
}
.welcome a {
	color: #808080;
	float: right;
}
.welcome a:hover {
	color: #fff;
	text-decoration: none;
}
.admin_left hr {
	border-color: #4b4d4e;
}
.admin_left ul {
	margin-top: 30px;
}
.admin_left ul li {
	list-style: none;
	line-height: 40px;
}
.admin_left ul li a {
	color: #808080;
}
.admin_left ul li a span {
	margin-left: 10px;
}
.admin_left ul li a:hover {
	color: #fff;
	text-decoration: none;
}
.selected {
	color:#fff;
}




.admin_right {
	position: relative;
	width: auto;
	height: 100%;
	margin-left: 175px;
	overflow-y: scroll;
}
.bg_right {
	position:relative;
	width:100%;
	height:100%;
	background-color:#eee;
}
.admin_right_to_center {
	min-width:700px;
	max-width:1200px;
	height:100%;
	margin:auto;
}


















